html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.content-wrapper {
  justify-content: space-between;
}

.content-wrapper > div {
  width: 45%;
}

.list-group, form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

input {
  max-width: 75%;
}

label {
  min-width: 25%;
}

.list-group-item {
  border: none;
}

.list-group {
  border: 1px solid rgb(185, 185, 185);
}
