@model List<Products_and_Categories.Models.Category>
@{
  ViewBag.Title = "Categories";
}
<h2 class="mb-5">Categories</h2>
<div class="content-wrapper flex">
    <div>
      <h4>New Category</h4>
      <form asp-action="Create" method="post" class="mt-4">
        <div class="form-group flex">
          <label>Name</label>
          <input type="text" class="form-control" name="Name" />
        </div>
        <button type="submit" class="btn btn-primary mt-4">Create</button>
      </form>
    </div>
    <div>
      <h4>All Categories</h4>
      <ul class="list-group mt-4">
        @foreach (var category in Model)
        {
          <li class="list-group-item">
            <a asp-controller="Categories" asp-action="Show" asp-route-id="@category.CategoryId">@category.Name</a>
          </li>
        }
      </ul>
    </div>
</div>
