.row {
  width: 100%;
  background-color: grey;
  padding: 5px;
  border-radius: 15px;

  justify-content: space-between;
  gap: 25px;
}

input {
  padding: 5px;
  border-radius: 15px;
  border: 0;
  outline: none;
}

lable {
  color: white;
}
