@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="nav-link text-danger display-6 logout" asp-area="" asp-controller="Home" asp-action="LogOut">Log out</a>
    <h1 class="display-4">Success</h1>
</div>
