<fieldset class="flex column field2">
    <h2>Form Results</h2>
    <div class="content-wrapper">
        <div class="flex">
            <h5>Name: </h5>@ViewBag.Name
        </div>
        <div class="flex">
            <h5>Location: </h5>@ViewBag.Location
        </div>
        <div class="flex">
            <h5>Language: </h5>@ViewBag.Language
        </div>
        <div class="flex">
            <h5>Comment: </h5>@ViewBag.Comment
        </div>
    </div>
    <a href="/" class="mt 5">Go Back</a>
</fieldset>