.card {
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 15px;
  transition: .3s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card:hover {
  background-color: rgb(197, 197, 197);
  transform: scale(1.1);
}

.card button {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  color: white;
  background-color: rgb(255, 94, 0);
  cursor: pointer;
}

.changed {
  animation: ageChangeAnimation .5s;
}

@keyframes ageChangeAnimation {
  0% { color: black; } /* Initial state */
  50% { color: red;} /* Transition state */
  100% { color: black;} /* Final state */
}
