@{
    ViewData["Title"] = "Home Page";
}
@model User

<div class="content-wrapper flex column text-center">
    <h1 class="display-4 mb-5">Welcome</h1>
    <form method="post" asp-action="Index" class="flex column">
        <div class="flex column">
            <label asp-for="Name">Please give your name:</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary mt-2 mb-2">LogIn</button>
        <span asp-validation-for="Name" class="text-danger"></span>
    </form>
</div>
