<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>test</title>
</head>

<body class="container p-5">
    <h1 class="text-center">Add a friend</h1>
    <form action="/create_friend" method="POST" class=".container">
        <div class="row">
            <label class="col-sm-3 offset-sm-3 p-1" for="fname">First Name:</label>
            <input class="col-sm-3 m-1" type="text" name="fname">
        </div>
        <div class="row">
            <label class="col-sm-3 offset-sm-3 p-1" for="lname">Last Name:</label>
            <input class="col-sm-3 m-1" type="text" name="lname">
        </div>
        <div class="row">
            <label class="col-sm-3 offset-sm-3 p-1" for="occ" >Occupation:</label>
            <input class="col-sm-3 m-1" type="text" name="occ">
        </div>
        <div class="row">
            <input class="col-sm-3 offset-sm-5 mt-5 mb-5 btn btn-dark" type="submit" value="Add Friend">
        </div>
    </form> 
    <h1 class="text-center pb-1">Show Friends</h1>
    <div class="row">
        <div class="col-1 border text-dark"><b>ID</b></div>
        <div class="col border text-dark"><b>First name</b></div>
        <div class="col border text-dark"><b>Last name</b></div>
        <div class="col border text-dark"><b>Occupation</b></div>
        <div class="col-2 border text-dark bg-light"></div>
    </div>
    {% for friend in friends %}
        <form action="/update" method="post" class="row">
            
            <div class="col-1 border"><input name="id" type="number" value="{{ friend.id }}" style="border: none; max-width: 100%; cursor: not-allowed;"></div>
            <div class="col border"><input name="fname" type="text" value="{{ friend.first_name }}" style="border: none;"></div>
            <div class="col border"><input name="lname" type="text" value="{{ friend.last_name }}" style="border: none;"></div>
            <div class="col border"><input name="occ" type="text" value="{{ friend.occupation }}" style="border: none;"></div>
            <input class="text-primary col-2 border" type="submit" value="update" style="border: none; background-color: transparent;">
        </form>
    {% endfor %}
    <p class="text-center text-danger">Note: Click on the column you want to change and change it's value to whatever you want then click update to update to the same value on the database</p>
</body>

</html>