.search {
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

button, input, select {
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button {
  background-color: #0019f8;
  color: white;
  font-size: 18px;

  padding :  10px 35px ;
}

input, select {
  padding: 10px;
  background-color: #EFEFEF;
}

select {
  width: 160px;
}

input {
  
  width: 70px;
}
