<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>test</title>
</head>

<body class="container p-5">
    <h1 class="text-center">Add a user</h1>
    <form action="/create_user" method="POST" class=".container">
        <div class="row">
            <label class="col-sm-3 offset-sm-3 p-1" for="fname">First Name:</label>
            <input class="col-sm-3 m-1" type="text" name="fname">
        </div>
        <div class="row">
            <label class="col-sm-3 offset-sm-3 p-1" for="lname">Last Name:</label>
            <input class="col-sm-3 m-1" type="text" name="lname">
        </div>
        <div class="row">
            <label class="col-sm-3 offset-sm-3 p-1" for="email" >Email:</label>
            <input class="col-sm-3 m-1" type="text" name="email">
        </div>
        <div class="row">
            <input class="col-sm-3 offset-sm-5 mt-5 mb-5 btn btn-dark" type="submit" value="Add User">
        </div>
    </form>
    {% with errors = get_flashed_messages(category_filter = ["error"]) %}
        {% if errors %}
            <ul class="text-center alert alert-danger">
                {% for error in errors %}
                    <li style="list-style: none;">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith%}
    <h1 class="text-center pb-1">Show Users</h1>
    <div class="row">
        <div class="col-1 border text-dark"><b>ID</b></div>
        <div class="col-2 border text-dark"><b>First Name</b></div>
        <div class="col-2 border text-dark"><b>Last Name</b></div>
        <div class="col border text-dark"><b>Email</b></div>
        <div class="col border text-dark"><b>Created At</b></div>
        <div class="col-2 border text-dark"><b>Actions</b></div>
    </div>
    {% for user in users %}
        <form id="form-{{ user.id }}" action="/update" method="post" class="row">
            
            <input type="hidden" name="id" type="text" value="{{ user.id }}">

            <div class="col-1 border"><input disabled type="text" value="{{ user.id }}" style="border: none; cursor: not-allowed;"></div>
            <div class="col-2 border"><input name="fname" type="text" value="{{ user.first_name }}" style="border: none; width: 100%;"></div>
            <div class="col-2 border"><input name="lname" type="text" value="{{ user.last_name }}" style="border: none; width: 100%;"></div>
            <div class="col border"><input name="email" type="text" value="{{ user.email }}" style="border: none; width: 100%;"></div>
            <div class="col border"><input disabled name="created_at" type="text" value="{{ user.created_at }}" style="border: none; width: 100%; cursor: not-allowed;"></div>
            
            <div class="col-2 border">
                <a href="/show/{{ user.id }}" class="text-success" style="border: none; background-color: transparent; text-decoration: none;">Show</a>
                <span>/</span>
                <input class="text-primary" type="submit" value="Update" style="border: none; background-color: transparent;">
                <span>/</span>
                <a href="/delete/{{ user.id }}" class="text-danger" style="border: none; background-color: transparent; text-decoration: none;">Delete</a>
            </div>
        </form>
    {% endfor %}
    <p class="text-center alert alert-dark m-3">Note: Click on the column you want to change and change it's value to whatever you want then click update to update to the same value on the database</p>
</body>

</html>